p {
    color: #A9A9A9;
}

h2 {
    color: black;
}

h3 {
    color: black;
}

button {

    background-color: #ded9f6;
    color: #6d8099;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

}

button:hover {
    background-color: #c3b4e5;
}

.report-card:hover {
    border: 3px solid #d3dfef;
}

.report-card {
    border: 3px solid #f8fbff;
    position: relative;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #f8fbff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
